<div class="footer">
    <div class="footer_a">
        <div><i class="fa-brands fa-square-instagram fa-lg"></i></div>
        <div><i class="fa-brands fa-facebook fa-lg"></i></div>
        <div><i class="fa-brands fa-linkedin fa-lg"></i></div>
    </div>
    <div class="footer_b">
        &copy; WonderLust Private Limited
    </div>
    <div class="footer_c">
        <p>Privacy</p>
        <p>Terms</p>
    </div>
</div>